#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: cornflowerblue;
}

h1 {
  text-align: center;
  color: #21353e;
}

p {
  color: #21353e;
}

h2 {
  color: #21353e;
}
h3{
  color: #21353e;
}

table.collapse {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table.collapse,
table.collapse th,
table.collapse td {
  border: 1px solid #333;
  color: #21353e;
}

table.collapse th,
table.collapse td {
  padding: 10px;
  text-align: left;
  font-family: 'Georgia', serif;
}
form{
  color: #21353e;
}